[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-compressor = "*"
django-libsass = "*"
psycopg2-binary = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
pylint-django = "*"

[requires]
python_version = "3.11"
