$primary: #AD0202;
$secondary: #1D1E21;

html {
	font-family: 'Montserrat';
}

nav {
	background-color: $primary;
	color: #FFFFFF;
}

.logo {
	width: 75px;
}

.card-logo {
	width: 40px;
	height: 25px;
}

.research-logo {
	background-color: transparent!important;
	border-color: transparent!important;
	width: 60px;
}

.no-border {
	border-style: none;
}

.no-border:focus {
	box-shadow: unset !important;
}

.btn {
	background-color: $secondary;
	border-color: $secondary;
}

.btn:hover {
	border-color: black;
	background-color: black;
}

textarea {
	resize: none;
}
