$primary: #AD0202;
$secondary: #1D1E21;

html {
	font-family: 'Montserrat';
}

.content {
	min-height: calc(100vh - 50px);
}

nav, footer {
	background-color: $primary;
	color: #FFFFFF;
}

.logo {
	width: 75px;
}

.card-logo {
	min-width: 40px;
	width: 40px;
	height: 25px;
}

.research-logo {
	background-color: transparent!important;
	border-color: transparent!important;
	width: 60px;
}

.no-border {
	border-style: none;
}

.no-border:focus {
	box-shadow: unset !important;
}

.btn {
	background-color: $secondary;
	border-color: $secondary;
	color: white;
}

.btn:hover {
	border-color: black;
	background-color: black;
	color: white;
}

textarea {
	resize: none;
}

.pointer-image {
	cursor: pointer;
}

.hidden-submit {
	display: none;
}

.send-btn-gray {
	filter: invert(51%) sepia(1%) saturate(2301%) hue-rotate(348deg) brightness(94%) contrast(83%);
}

.follow-btn-gray {
	border-color: #807b76;
	background-color: #807b76;
}

.border-secondary {
	border: 1px solid $secondary;
}

.row-height {
	min-height: 150px;
}

td {
	overflow: auto;
	white-space: nowrap;
}

.footer {
	height: 50px;
	margin-top: 10px;
  }
