/* line 4, c:/users/titou/documents/code/oc/p13/project/workoutshare/static/style.scss */
html {
  font-family: 'Montserrat'; }

/* line 8, c:/users/titou/documents/code/oc/p13/project/workoutshare/static/style.scss */
nav, footer {
  background-color: #AD0202;
  color: #FFFFFF; }

/* line 13, c:/users/titou/documents/code/oc/p13/project/workoutshare/static/style.scss */
.logo {
  width: 75px; }

/* line 17, c:/users/titou/documents/code/oc/p13/project/workoutshare/static/style.scss */
.card-logo {
  min-width: 40px;
  width: 40px;
  height: 25px; }

/* line 23, c:/users/titou/documents/code/oc/p13/project/workoutshare/static/style.scss */
.research-logo {
  background-color: transparent !important;
  border-color: transparent !important;
  width: 60px; }

/* line 29, c:/users/titou/documents/code/oc/p13/project/workoutshare/static/style.scss */
.no-border {
  border-style: none; }

/* line 33, c:/users/titou/documents/code/oc/p13/project/workoutshare/static/style.scss */
.no-border:focus {
  box-shadow: unset !important; }

/* line 37, c:/users/titou/documents/code/oc/p13/project/workoutshare/static/style.scss */
.btn {
  background-color: #1D1E21;
  border-color: #1D1E21;
  color: white; }

/* line 43, c:/users/titou/documents/code/oc/p13/project/workoutshare/static/style.scss */
.btn:hover {
  border-color: black;
  background-color: black;
  color: white; }

/* line 49, c:/users/titou/documents/code/oc/p13/project/workoutshare/static/style.scss */
textarea {
  resize: none; }

/* line 53, c:/users/titou/documents/code/oc/p13/project/workoutshare/static/style.scss */
.pointer-image {
  cursor: pointer; }

/* line 57, c:/users/titou/documents/code/oc/p13/project/workoutshare/static/style.scss */
.hidden-submit {
  display: none; }

/* line 61, c:/users/titou/documents/code/oc/p13/project/workoutshare/static/style.scss */
.send-btn-gray {
  filter: invert(51%) sepia(1%) saturate(2301%) hue-rotate(348deg) brightness(94%) contrast(83%); }

/* line 65, c:/users/titou/documents/code/oc/p13/project/workoutshare/static/style.scss */
.follow-btn-gray {
  border-color: #807b76;
  background-color: #807b76; }

/* line 70, c:/users/titou/documents/code/oc/p13/project/workoutshare/static/style.scss */
.border-secondary {
  border: 1px solid #1D1E21; }

/* line 74, c:/users/titou/documents/code/oc/p13/project/workoutshare/static/style.scss */
.row-height {
  min-height: 150px; }

/* line 78, c:/users/titou/documents/code/oc/p13/project/workoutshare/static/style.scss */
td {
  overflow: auto;
  white-space: nowrap; }

/* line 83, c:/users/titou/documents/code/oc/p13/project/workoutshare/static/style.scss */
.footer {
  height: 50px;
  margin-top: -50px; }
