{% extends "base.html" %}

{% block title %}Connexion{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="container-fluid d-flex justify-content-center">
    <div class="row">
      <h2 class="col-12 my-5">Connexion</h2>
      <form class="col-12" method="post">
        {% csrf_token %}
        <div class="col-12 mb-3">
          <label class="form-label">Adresse email</label>
          <input class="form-control" id="{{ form.email.id_for_label }}" maxlength="64" name="{{ form.email.html_name }}" type="email" /> 
          {{ form.email.errors }}
        </div>
        <div class="col-12 mb-3">
          <label class="form-label">Nom d'utilisateur</label>
          <input class="form-control" id="{{ form.username.id_for_label }}" maxlength="32" name="{{ form.username.html_name }}" type="text" /> 
          {{ form.username.errors }}
        </div>
        <div class="col-12 mb-3">
          <label class="form-label">Mot de passe</label>
          <input class="form-control" id="{{ form.password1.id_for_label }}" maxlength="64" name="{{ form.password1.html_name }}" type="password" /> 
          {{ form.password1.errors }}
        </div>
        <div class="col-12 mb-3">
          <label class="form-label">Confirmation du mot de passe</label>
          <input class="form-control" id="{{ form.password2.id_for_label }}" maxlength="64" name="{{ form.password2.html_name }}" type="password" /> 
          {{ form.password2.errors }}
        </div>
        <button class= "btn btn-primary" type="submit">S'enregistrer</button>
      </form>
      <a class="mt-4" href="{% url 'authentication:login' %}">Se connecter</a>
    </div>
  </div>
</div>
{% endblock %}