{% extends "base.html" %}

{% block title %}{{ program_name }}{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid d-flex justify-content-around mt-5">
        <h2>{{ program_name }}</h2>
    </div>
    <div class="container-fluid">
        {% for session, exercices in sessions_list %}
            <div class="mt-5 mb-2 d-flex flex-row-reverse">
                {% if is_owner %}
                <form method="post">
                    {% csrf_token %}
                    <a href="{% url 'session' session.pk %}"><img title="Modifier la séance" class="card-logo img-fluid mt-2" src="{% static 'image/edit.svg' %}"></a>
                    <label class="pointer-image">
                        <img title="Supprimer la session" class="card-logo img-fluid mt-2" src="{% static 'image/delete.svg' %}"/>
                        <button type="button" class="hidden-submit" data-bs-toggle="modal" data-bs-target="#modal{{ forloop.counter0 }}"></button>
                        <!-- Modal delete session -->
                        <div class="modal fade" id="modal{{ forloop.counter0 }}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title fs-5" id="modalLabel">{{ session.name }}</h3>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Voulez vous vraiment supprimer la session ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button class="btn btn-primary" type="submit" name="session_delete" data-bs-dismiss="modal">Supprimer</button>
                                        <input type="hidden" value="{{ forloop.counter0 }}" name="id">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </label>
                </form>
                {% endif %}
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="col-4">{{ session.name }}</th>
                            <th class="col-2">Groupe</th>
                            <th class="col-2">Séries</th>
                            <th class="col-2">Répétitions</th>
                            <th class="col-2">Repos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for exercice in exercices %}
                            <tr>
                                <td>{{ exercice.name }}</td>
                                <td>{{ exercice.muscle_group_id }}</td>
                                <td>{{ exercice.sets }}</td>
                                <td>{{ exercice.reps }}</td>
                                <td>{{ exercice.cool }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
        {% if is_owner %}
        <div class="container-fluid d-flex justify-content-around mt-5">
            <button class="btn btn-primary mb-5" type="button" data-bs-toggle="modal" data-bs-target="#modal-new-session">Nouvelle séance</button>
            <!-- Modal new session -->
            <div class="modal fade" id="modal-new-session" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title fs-5" id="modalLabel">{{ session_name }}</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="modal-body">
                                <p>Comment souhaitez vous appeler la nouvelle session ?</p>
                                {% csrf_token %}{{ session_form|crispy }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <button class="btn btn-primary" type="submit" name="new_session">Valider</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}